.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        position: absolute;
        top: -1.65em;

        margin: 0;

        cursor: default;

        text-transform: lowercase;
        color: $text-color-tertiary;
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $space-x4;

        width: 100%;
    }

    &__toggle-all {
        appearance: none;

        flex-grow: 0;
        flex-shrink: 0;

        width: 24px;
        height: 48px;
        margin-left: calc(1.6rem + 1px);
        border: none;

        background-image: url('/svg/toggle-normal.svg');
        background-repeat: no-repeat;

        cursor: pointer;

        line-height: 0px;

        transition: all 0.3s ease;

        &:active {
            background-image: url('/svg/toggle-active.svg');
        }

        &:checked {
            background-image: url('/svg/toggle-checked.svg');
        }
    }

    &__add-task {
        flex: 1 1 auto;

        width: 100%;
    }
}